@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #3ca0c2;
  --color-secondary: #0F7771;
  --color-accent: #4A5565;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #3ca0c2;
  --color-secondary: #0F7771;
  --color-accent: #4A5565;

  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;

  --color-base-content: #0F172A;
}